{% extends 'accounts/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <img src="{% if user.profile.photo %}
                            {{ user.profile.photo.url }}
                        {% else %}
                            https://qph.ec.quoracdn.net/main-qimg-7ca600a4562ef6a81f4dc2bd5c99fee9-c
                        {% endif %}" height="200px" width="200px"/>

            <p>username: {{ user.username }}</p>
            <p>first name: {{ user.first_name }}</p>
            <p>last name: {{ user.last_name }}</p>
            <p>email: {{ user.email }}</p>
            <p>website: {{ user.profile.website }}</p>
            <p>location: {{ user.profile.location }}</p>

            <strong><a href="{% url 'accounts:edit_profile' %}">edit profile</a></strong>
        </div>

        <br/><hr/>

        <p>{% include 'accounts/snippets/new_notifications.html' %}</p><br />

        <div class="col-sm-4">
            <strong>your asked questions</strong><br/>
            {% for question in asked_question_list %}
                <p>{{ question.text }}  --<a href="{% url 'question:detail' pk=question.pk %}">{{ question.created }}</a></p>
            {% empty %}
                <i>you have not asked any question yet.</i>
            {% endfor %}
        </div><hr />

        <div class="col-sm-4">
            <strong>your subscribed questions</strong><br/>
            {% for question in subscribed_question_list %}
                <p>{{ question.text }}  --<a href="{% url 'question:detail' pk=question.pk %}">{{ question.created }}</a> </p>
            {% empty %}
                <i>you have not subscribed on any question yet.</i>
            {% endfor %}
        </div>
    </div>
{% endblock %}