{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html>
<head>
  <title>Django Allauth</title>
</head>
<body>
  <header>
    <h1>Simple Social Auth</h1>
    {% if user.is_authenticated %}
      You are signed in as <strong>{{ user.username }}</strong>

      <a href="{% url 'home' %}">home</a> /
      <a href="{% url 'account_logout' %}">logout</a>

    {% else %}
      <a href="{% url 'account_login' %}">login</a> /
    {% endif %}
    <hr>
  {% for account in user.socialaccount_set.all %}
        <h2 style="text-transform:capitalize;">{{ account.provider }} account data</h2>
        <p>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></p>
        <p>Username: {{ account.extra_data.username }}</p>
        <p>First Name: {{ account.extra_data.first_name }}</p>
        <p>Last Name: {{ account.extra_data.last_name }}</p>
        <p>EMAIL: {{ account.extra_data.e }}</p>
        <p>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></p>
        <p>Gender: {{ account.extra_data.gender }}</p>
        <p>Birthday: {{ account.extra_data.birthday }}</p>

{% endfor %}
  {% comment %}
   <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" /> {% endcomment %}

  </header>
{% block body %}
{% endblock %}
</body>
</html>