<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'question:index' %}">AnswerMe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal" id="nf" onclick="loadNotifications()">Notification</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                    <li>
                        <li><a href="{% url 'accounts:login' %}">LogIn</a></li>
                        <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="#nav-collapse2"
                           aria-expanded="false" aria-controls="nav-collapse2">Sign in</a>
                    </li>
                {% endif %}
            </ul>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card">
                                    <p class="text-right">
                                        <button type="button" class="btn btn-link glyphicon glyphicon-remove"
                                                data-dismiss="modal"></button>
                                    </p>
                                    <div class="tab-content" >

                                        <div id="notification">
                                            {% include 'notification/notifications.html' %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
                <form class="navbar-form navbar-right form-inline" role="form" id="login_form" method="post"
                      action="{% url 'accounts:login' %}">
                    <div class="form-group">
                        <label class="sr-only" for="Username">Username</label>
                        <input type="text" class="form-control" id="Username" name="username" placeholder="Username"
                               autofocus required/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="password" placeholder="Password"
                               required/>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

{% block javascript %}
    <script>
        function loadNotifications() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
             document.getElementById("notification").innerHTML = this.responseText;
            }
          };
          xhttp.open("GET", "{% url 'notification:notifications' %}", true);
          xhttp.send();
        }
    </script>
{% endblock %}