{% load static %}

<html>
    <head>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}" >

        {% block css %}
        {% endblock %}

        <title>{% block title %}Dashboard{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid">
                {% include 'snippets/header.html' %}
                {% block content %}
                {% endblock %}
        </div>

        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <script src="{% static 'question/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'question/js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'question/js/infinite.min.js' %}"></script>

        {% block javascript %}
        {% endblock %}

        {% if request.user.is_authenticated %}
            <script>
                $(document).ready(function() {
                $.ajaxSetup({ cache: false });
                setInterval(function() {
                var notification = $('#notification').load("{% url 'notification:new_notifications' %}");

                if (notification.text().length > 26){
                    $('#nf').css({'color':'red'});
                } else {
                    $('#nf').css({'color':'#777'});
                }
                }, 1000);
                });
            </script>
        {% endif %}

    </body>
</html>
